<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Notícias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list lines="none">
        <ion-item *ngIf="news.length < 1">
          <ion-label text-center text-uppercase>Não há notícias cadastradas</ion-label>
        </ion-item>
    
        <ion-list>
          <ion-item-sliding *ngFor="let new of news">
            <ion-item (click)="detalheNoticia(new)">
              <ion-avatar slot="start">
                <img src="{{ new.link }}" />
              </ion-avatar>
              <ion-label>{{ new.numero }}</ion-label>
              <ion-label>{{ new.titulo }}</ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-list>
    
</ion-content>
